{{define "public:base"}}
<!doctype html>
<html lang='en' data-bs-theme="{{.ColorScheme}}">
    <head>
        <title>{{block "title" .}}Rigelledger{{end}}</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta name="author" content="cwchen.twn">
        {{block "meta" .}}{{end}}

        <link rel="icon" type="image/x-icon" href="/static/favicon.ico?version={{.Version}}" defer>
        <link rel="stylesheet" href="/static/bootstrap-icons/bootstrap-icons.min.css" defer>
        <link rel="stylesheet" href="/static/bootstrap.min.css?version={{.Version}}" defer>
        <script src='/static/bootstrap.min.js?version={{.Version}}' defer></script>
        <script src="/static/alpine.min.js?version={{.Version}}" defer></script>
        {{block "scripts" .}}{{end}}
    </head>
    <body>
        <main>
        {{block "main" .}}Default content for the page.{{end}}
        </main>
    </body>
</html>
{{end}}
