{{define "partials:base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{block "title" .}}Rigelledger{{end}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{block "meta" .}}{{end}}

        <!-- <link rel='stylesheet' href='/static/css/main.css?version={{.Version}}'> -->
    </head>
    <body>
        <header>
            <h1><a href="/">Default header</a></h1>
            {{template "partials:nav" .}}
        </header>
        {{block "protected:menu" .}}{{end}}
        <main>
            {{block "main" .}}Default content for the page.{{end}}
        </main>
        {{template "partials:footer" .}}
    </body>
</html>
{{end}}
