{{define "partials:footer"}}
<footer class="text-center py-4 mt-auto">
    <p class="fs-6 text-muted mb-1">
        RigelLedger Web, Version: {{.Version}}
    </p>
    <p class="fs-6 text-muted mb-0">
        Copyright &copy; {{now | formatTime "2006"}} Catopia de Chen Antúnez E.A.S. Paraguay
    </p>
</footer>
{{end}}
