{{define "home"}}
    {{template "protected:base" .}}
{{end}}

{{define "title"}}Rigelledger Home{{end}}

{{define "meta"}}
<meta name="description" content="Rigelledger Home Page">
{{end}}

{{define "protected:scripts"}}
<script type="text/javascript" nonce="{{.Nonce}}">
document.addEventListener('DOMContentLoaded', async function() {
    const table = new DataTable('#transactions-table', {
        pageLength: 10,
        responsive: true,
        ajax: {
            url: '/{{.Username}}/api/transactions',
            dataSrc: {
                data: 'data',
                draw: 'draw', // sequence counter sent from DataTables to the server with each Ajax request
                recordsTotal: 'total', // Total records, before filtering (i.e. the total number of records in the database)
                recordsFiltered: 'filtered' // Total records, after filtering (i.e. the total number of records after filtering has been applied
            },
            method: 'POST',
            accepts: 'application/json',
            enctype: "application/x-www-form-urlencoded",
            timeout: 5000,
            error: function (jqXHR, textStatus, errorThrown) {
                const status = jqXHR.status;
                const responseText = jqXHR.responseText;
                console.log(jqXHR, textStatus, errorThrown, status, responseText);
            },
        },
        serverSide: true,
        processing: true,
        columns: [
            {
                defaultContent: '<button class="btn btn-primary" group="viewtx"><i class="bi bi-journal"></i></button>',
                orderable: false,
                searchable: false,
            },
            {
                title: 'Transaction ID',
                data: 'transaction_id',
                visible: false,
                searchable: false,
            },
            {
                title: 'Transaction Date',
                data: function(row, type, set, meta) {
                    if (type === 'set') {
                        row.transac_date = set;
                        return;
                    }
                    if (type === 'display') {
                        return row.transac_date;
                    }
                    if (type === 'filter') {
                        return row.transac_date;
                    }
                    return dayjs(row.transac_date).unix();
                }
            },
            {
                title: 'Description',
                data: 'description',
            },
            {
                title: 'Amount',
                data: 'amount',
            },
            {
                title: 'Exchange Rate',
                data: 'exchange_rate',
                orderable: false,
                searchable: false,
            },
        ],
        order: [[ 1, 'desc' ]],
    });
    table.on('click', 'button[group="viewtx"]', function() {
        const tr = $(this).parents('tr').hasClass('child')
            ? $(this).parents('tr').prev()
            : $(this).parents('tr');
        const row = table.row(tr);
        if ( row.child.isShown() ) {
            row.child.hide();
            return;
        }
        const rowData = row.data();
        const childView = `
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ledger</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                ${rowData.postings.map(posting => `
                    <tr>
                        <td>${posting.ledger}</td>
                        <td>${posting.credit}</td>
                        <td>${posting.debit}</td>
                        <td>${posting.amount}</td>
                    </tr>
                `).join('')}
                </tbody>
            </table>
        </div>
        `;
        row.child(childView).show();
    });
});
</script>
{{end}}

{{define "protected:main"}}
<div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
            <div class="card-body">
                <div class="btn-group mb-4" role="group" aria-label="Balance">
                    <input type="radio" class="btn-check" name="balancetype" id="assets" autocomplete="off" checked>
                    <label class="btn btn-sm btn-outline-secondary" for="assets">Assets</label>

                    <input type="radio" class="btn-check" name="balancetype" id="liabilities" autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="liabilities">Liabilities</label>

                    <input type="radio" class="btn-check" name="balancetype" id="networth" autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="networth">Net Assets</label>
                </div>
                <h5 class="card-title">Total Assets</h5>
                <p class="card-text fs-2">1,000,000 USD</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">+20.1% from last month</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">+40.1% year to date</h6>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Assets Distribution</h5>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="btn-group mb-4" role="group" aria-label="Balance Changes Over Time">
                    <input type="radio" class="btn-check" name="balanceintime" id="currentmonth" autocomplete="off" checked>
                    <label class="btn btn-sm btn-outline-secondary" for="currentmonth">Current Month</label>

                    <input type="radio" class="btn-check" name="balanceintime" id="30days" autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="30days">30 Days</label>

                    <input type="radio" class="btn-check" name="balanceintime" id="ytd" autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="ytd">Year to Date</label>
                </div>
                <h5 class="card-title">Balance Changes Over Time</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
            <div class="card-body">
                <div class="btn-group mb-4" role="group" aria-label="Income Changes Over Time">
                    <input type="radio" class="btn-check" name="incomeintime" id="currentmonth-income" autocomplete="off" checked>
                    <label class="btn btn-sm btn-outline-secondary" for="currentmonth-income">Current Month</label>

                    <input type="radio" class="btn-check" name="incomeintime" id="30days-income" autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="30days-income">30 Days</label>

                    <input type="radio" class="btn-check" name="incomeintime" id="ytd-income" autocomplete="off">
                    <label class="btn btn-sm btn-outline-secondary" for="ytd-income">Year to Date</label>
                </div>
                <h5 class="card-title">Income</h5>
                <p class="card-text fs-2">5,000 USD</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">+0.% from last month</h6>
                <hr>
                <h5 class="card-title">Expenses</h5>
                <p class="card-text fs-2">2,000 USD</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">+0.% from last month</h6>
                <hr>
                <h5 class="card-title">Net Income</h5>
                <p class="card-text fs-2">3,000 USD</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">+0.% from last month</h6>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Top Income</h5>
                <hr>
                <h5 class="card-title">Top Expenses</h5>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Income/Expense Over Time</h5>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Recent Transactions
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="transactions-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Transaction Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Exchange Rate</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<nav class="navbar fixed-bottom col-12 col-md-10 offset-md-2 bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-end">
        <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#new-transaction-modal"
        ><i class="bi bi-clipboard2-plus"></i> New Transaction</button>
    </div>
</nav>
<div
    class="modal fade"
    id="new-transaction-modal"
    tabindex="-1"
    aria-labelledby="new-transaction-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>New transaction form goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{{end}}
