{{define "home"}}
    {{template "partials:base" .}}
{{end}}

{{define "title"}}Rigelledger Home{{end}}

{{define "meta"}}
    <meta name="description" content="Rigelledger Home">
{{end}}

{{define "protected:menu"}}
    {{template "partials:menu" .}}
{{end}}

{{define "main"}}
<p>Welcome to Rigelledger!</p>
{{end}}
