{{define "login"}}
    {{template "partials:base" .}}
{{end}}

{{define "title"}}Rigelledger Login{{end}}

{{define "meta"}}
<meta name="description" content="Rigelledger Login">
{{end}}

{{define "main"}}
<p>This is an login page hahaha.</p>
{{end}}
