{{define "reports"}}
    {{template "protected:base" .}}
{{end}}

{{define "title"}}Rigelledger Reports{{end}}

{{define "meta"}}
<meta name="description" content="Rigelledger Reports Page">
{{end}}

{{define "scripts"}}
<script type="text/javascript" nonce="{{.Nonce}}">
</script>
{{end}}

{{define "protected:main"}}
{{end}}
