{{define "settings"}}
    {{template "protected:base" .}}
{{end}}

{{define "title"}}{{.Username}}'s Settings{{end}}

{{define "meta"}}
<meta name="description" content="{{.Username}}'s Settings Page">
{{end}}

{{define "protected:scripts"}}
<script type="text/javascript" nonce="{{.Nonce}}">
</script>
{{end}}

{{define "protected:main"}}
{{end}}
