{{define "subject"}}Your {{.AppName}} email address was changed{{end}}
{{define "body"}}
Hi {{.Name}},

The email address of your {{.AppName}} account was changed to {{.Email}}. Messages will go there from now on.

If you did not do this, contact your administrator at once.
{{end}}
