{{define "subject"}}Confirm your {{.AppName}} sign-up{{end}}
{{define "action"}}Confirm my address{{end}}
{{define "body"}}
Hi {{.Username}},

Open the link below to confirm this address and finish creating your account. It expires in {{.Expires}}.

If you did not sign up, ignore this email and no account will be created.
{{end}}
